* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Public Sans", sans-serif;
  background-color: #1e212b;
}

.start_quiz,
.info-box,
.quiz-box,
.result_box {
  width: 55rem;
  background-color: #fff;
  border-radius: 9px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  transition: all 0.5s ease-in;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.2);
}

.start_quiz {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  align-items: center;
  padding: 1.8rem 3.6rem;
}

.start_quiz h1 {
  font-size: 4.8rem;
  font-weight: 800;
  color: #1e212b;
  padding: 2.4rem;
  text-align: center;
}

.start_quiz button {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  background-color: #353740;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  padding: 1.6rem 3.2rem;
}

.start_quiz button:hover {
  background-color: #1e212b;
}

.info-box {
  /* display: none; */
  opacity: 0;
}

.info-box .info-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #787a80;
  padding: 0 3.4rem;
  height: 6rem;
  font-weight: 700;
  font-size: 3.2rem;
}

.info-box .info-list {
  padding: 1.6rem 3.2rem;
}

.info {
  margin: 1.2rem 0;
  font-size: 1.8rem;
  color: #4b4d55;
  width: 100%;
}

.info span {
  font-weight: 700;
  color: #1e212b;
}

.info-box .buttons {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 3.6rem;
  border-top: 1px solid #787a80;
}

.buttons button {
  margin: 0 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transform: translateX(0);
  transition: all 0.3s ease-in;
}

button.restart-quiz {
  background-color: #353740;
  color: #fff;
}

button.restart-quiz:hover {
  background-color: #1e212b;
  color: #fff;
}

button.exit-quiz:hover {
  background-color: #1e212b;
  color: #fff;
}

.quiz-box {
  /* display: none; */
  opacity: 0;
}

.quiz-box header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 3.2rem;
  border-bottom: 0.5px solid #787a80;
  margin-bottom: 2.4rem;
  height: 8rem;
}

.quiz-box header h2 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #1e212b;
  user-select: none;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 9px;
  background-color: #e9e9ea;
  gap: 1.2rem;
}

.timer_text {
  font-size: 1.8rem;
  font-weight: 600;
  user-select: none;
}

.timer_sec {
  font-size: 1.8rem;
  font-weight: 700;
  user-select: none;
}

.quiz-box section {
  padding: 0 3.2rem;
}

.quiz-box section .question {
  font-size: 2.4rem;
  font-weight: 700;
  color: #353740;
  user-select: none;
}

section .option_list {
  padding: 2rem 0;
  display: block;
}

.option {
  background-color: #e9e9ea;
  border: 1px solid #a5a6aa;
  border-radius: 6px;
  padding: 1.2rem 2.4rem;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.8rem;
  user-select: none;
}
.option:hover {
  color: #fff;
  background-color: #353740;
}

.option:last-child {
  margin-bottom: 0;
}

.option .icon {
  height: 2.4rem;
  width: 2.4rem;
  pointer-events: none;
}

.correct {
  color: #26b626;
}

.wrong {
  color: #e20909;
}

.quiz-box footer {
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.2rem;
  border-top: 0.5px solid #787a80;
}

.total_question span {
  display: flex;
  user-select: none;
  font-size: 1.6rem;
  color: #353740;
}

.total_question span p {
  font-weight: 600;
  padding: 0 0.3rem;
  text-align: center;
}

.total_question span p:first-child {
  padding-left: 0;
}

.next_btn {
  padding: 1.2rem 2.4rem;
  background-color: #353740;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  user-select: none;
}

.next_btn:hover {
  background-color: #1e212b;
}

.result_box {
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  gap: 2.4rem;
  opacity: 0;
}

.result_box .icon {
  height: 10rem;
  width: 10rem;
  color: #353740;
}

.result_box h3 {
  font-size: 3.2rem;
  font-weight: 800;
  color: #353740;
}

.result_box .score {
  font-size: 1.8rem;
  font-weight: 700;
  color: #353740;
}

.result_box .score span {
  color: #1e212b;
  font-size: 1.8rem;
}
